@import url('./reset.css');
@import url('./variables.css');
@import url('./typografy.css');

@import url('./buttons.css');
@import url('./nav.css');
@import url('./card.css');

@import url('./nesting.css');
@import url('./container-queries.css');
@import url('./pseudo-classes.css');
@import url('./units.css');

body {
    background: var(--primary-clr-light);
    color: var(--txt-color);
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    --txt-color: var(--primary-clr-ultra-light);
    align-items: center;
    background: linear-gradient(to bottom, var(--primary-clr), var(--primary-clr-light));
    display: flex;
    justify-content: center;
    margin: 0 0 var(--space-l) 0;
    padding: var(--space-l) 0;
    width: 100%;

    & h1 {
        text-transform: uppercase;
        font-size: 3rem;
        margin: var(--space-l) 0;

        @media (max-width: 760px) {
            & {
                margin: var(--space-s) 0;
                font-size: 2rem;
            }
        }
    }
}

main {
    margin: 0 auto var(--space-l) auto;
}

footer {
    background-color: var(--primary-clr);
    padding: var(--space);
}

.section-container {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto var(--space-l) auto;
}

.grid-3-1 {
    display: grid;
    gap: var(--space-m);
    grid-template-columns: repeat(3, 1fr);
}

.grid-2-3 {
    display: grid;
    gap: var(--space-m);
    grid-template-columns: 1fr 2fr;
}

.grid-2-2 {
    display: grid;
    gap: var(--space-m);
    grid-template-columns: 2fr 2fr;
}
