
/* .card h2:has(+h3){
    margin-bottom: 0;
} */

/* .card:has(.btn) .btn {
    background: var(--secondary-clr);
    color: var(--primary-clr);

    &:hover {
        background: var(--primary-clr-ultra-light);
        color: var(--primary-clr);
    }
} */



/* OLD WAY */
/* .with-img {
    padding: 0;
}

.with-img .card-img {
    order: 0;
    line-height: 0;
}

.with-img .card-txt {
    order: 1;
    padding: var(--space-l);
} */
